.DS_Store
__pycache__/
*.py[cod]
.ipynb_checkpoints
*.pptx
*.aux
*.bbl
*.bcf
*.blg
*.log
*.nav
*.out
*.run.xml
*.snm
*.tex.bbl
*.tex.blg
*.toc
*.vrb
*.docx
*.ipynb

libfm
venv
presentation.tex
limsi.tex
lip6.tex
jdse.tex
lak2020.tex
TODO.md
online_models.py
